.solution-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}

.title {
  font-size: 5em;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
  width: 80vw;

  justify-content: center;
  justify-items: center;
}

.cloud-heading {
  font-size: 80%;
}

.cloud-text {
  font-size: 50%;
  font-weight: 500;
}
