.solution-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}

.title {
  font-size: 5em;
  color: white;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.grid h2,
.grid p {
  color: white;
}

.grid h2 {
  font-size: 2.5em;
  text-decoration: underline;
}

.grid p {
  font-size: 1.5em;
}

.grid > div {
  margin: 20px;
}

.cloud-heading {
  font-size: 80%;
}

.cloud-text {
  font-size: 50%;
  font-weight: 500;
}
