.solution-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  background-image: url("../../images/learn/glacier.svg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.title {
  font-size: 5em;
  color: black;
  text-align: center;
}

.text-box {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.text-box h2,
.text-box p {
  color: black;
}

.text-box h2 {
  font-size: 2.5em;
  text-decoration: underline;
}

.text-box p {
  font-size: 1.5em;
}

.text-box > div {
  margin: 20px;
}

.cloud-heading {
  font-size: 80%;
}

.cloud-text {
  font-size: 50%;
  font-weight: 500;
}
