.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.image-preview {
  width: 400px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .image-preview {
    width: 400px;
    height: auto;
  }
}

.artist,
.piece-name {
  color: white;
  text-align: center;
}
