.card {
  width: 400px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-div {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
