.schedule-section {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;

  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
.schedule-section p {
  font-size: 2em;
  color: black;
}

.schedule-section a {
  color: blue;
  text-decoration: underline;
}

.schedule-section h1 {
  font-size: 62px;
}

.schedule-section h2 {
  font-size: 32px;
}

.schedule-section h3 {
  font-size: 16px;
}

.division {
  min-height: 10px;
  border-radius: 16px;
  margin: 20px;
  max-width: 50rem;
  width: 90%;
  background-color: white;
  color: white;
  fill: white;
  outline: none;
}

.description {
  font-weight: 400;
}

.breakout-heading {
  font-weight: 400;
  font-size: 24px;
}
