.support-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.support-section p {
  text-align: center;
}

.title {
  font-size: 3em;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
